{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>ConVin Assignment</title>
</head>

<body>
<style>
    body{
        padding: 0px;
        margin: 0px;
        background-color: aliceblue;
    }
</style>
<div class="container mx-auto my-auto mt-5">
    <img src="https://1.bp.blogspot.com/-c_OXypVPQkI/YLSos4-ge0I/AAAAAAAACLQ/mIG8s7UFeygROpyQAvizaknRhzIN1S_1ACLcBGAsYHQ/s3619/Convin%2BLogo.png
    " alt="" class="img-fluid">
    <h1 class="mt-5 pt-2 text-primary text-center">Welcome to ConVin Calander Integration</h1>
    <div class="col text-center">
        <a href="getCreds/" class="btn btn-danger mx-auto mt-5 px-5">Get Access To the Events</a>
    </div>
</div>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>